	body {
		background-color: rgb(109, 135, 185);
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}

	h1 {
		color: aliceblue;

	}

	p {
		color: aliceblue;
	}

	img {}

	.imgindex {}

	#principal {}