	body {
		background-color: rgb(109, 135, 185);
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		text-align: center;
		
	}

	h1 {
		color: aliceblue;

	}

	p {
		color: rgb(243, 243, 243);
	}

	img {
		width: 25%;
    height: auto;
    object-fit: cover;
    display: inline-block;
	}

	.imgindex {}

	#principal {}

	ul{
		list-style:none ;
	}

	li a {
		color: aliceblue;
	}